<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<servlet>
	    <servlet-name>InstanceEvalServlet</servlet-name>
	    <servlet-class>net.stbbs.spring.jruby.InstanceEvalServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>InstanceEvalServlet</servlet-name>
	    <url-pattern>/instance_eval</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>dispatcher</filter-name>
		<filter-class>net.stbbs.spring.jruby.DispatcherFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>dispatcher</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

</web-app>
