<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>H2Servlet</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>H2Servlet</servlet-name>
	    <url-pattern>/h2/*</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>InstanceEvalServlet</servlet-name>
	    <servlet-class>net.stbbs.spring.jruby.InstanceEvalServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>InstanceEvalServlet</servlet-name>
	    <url-pattern>/instance_eval</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>JRubyMessageBrokerServlet</servlet-name>
		<servlet-class>net.stbbs.spring.jruby.blazeds.JRubyMessageBrokerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>JRubyMessageBrokerServlet</servlet-name>
	    <url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JSONRPCServlet</servlet-name>
		<servlet-class>net.stbbs.spring.jruby.JSONRPCServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>JSONRPCServlet</servlet-name>
	    <url-pattern>/jsonrpc/*</url-pattern>
	</servlet-mapping>

	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<jsp-config>
		<taglib>
			<taglib-uri>http://www.stbbs.net/spring-jruby/JspTag</taglib-uri>
			<taglib-location>/WEB-INF/spring-jruby.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>
